/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}

nav {
    background-color: #000000;
    color: #fff;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 20px; /* Adjust padding as needed */
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 30px
}

.nav-logos {
    display: flex;
    justify-content: center; /* Center the navigation logos horizontally */
    align-items: center;
    flex-grow: 1; /* Make the navigation logos fill the remaining space */
}

.nav-logos a {
    margin: 0 10px;
}

.nav-logos img {
    width: 30px;
    height: auto;
}


/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Body styles */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: #f0f0f0;
}

/* Section styles */
section {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

